@page
@model SimpleForum.Areas.Identity.Pages.Account.CheckMailModel
@{
    ViewData["Title"] = "Kiểm tra email";
}

<h2>@ViewData["Title"]</h2>
<p>
    Hãy kiểm tra email của bạn để kích hoạt tài khoản, nếu không thấy hãy thử kiểm tra trong hộp thư spam!
</p>