@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Xác nhận email";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Cảm ơn bạn đã xác nhận. Giờ bạn đã có thể đăng và bình luận các bài viết.
    </p>
</div>
