@{
    ViewData["Title"] = "Error";
}

    <div class="container">
        <h1 class="text-danger">Lỗi lỗi lỗi :(</h1>
        <h2 class="text-danger">Đã có lỗi xảy ra, đây có thể là do lỗi của dev hoặc là do số của bạn xui :))</h2>
    </div>