@model SimpleForum.Models.Reply.DeleteReplyModel
@{ 
    ViewData["Title"] = "Xóa bình luận";
}

<div class="container body-content">
    @if (Model.IsActive)
    {
        <div class="row sectionHeader">
            <div class="sectionHeading">Bạn có chắc muốn xóa trả lời này hay không?</div>
            
        </div>
        <form asp-action="DeleteReply" asp-controller="Reply">
            <input type="hidden" asp-for="ReplyId" />
            <button id="deleteButton" class="btn btn-lg btn-danger">Xác nhận xóa</button>
            <button id="deleteButton" asp-controller="Post" asp-action="Index" asp-route-id="@Model.PostID" class="btn btn-lg btn-default">Hủy</button>
        </form>
    }
    else
    {
        <div>
            <h2>Ở trong tù không được xóa trả lời!!</h2>
        </div>
    }
</div>
