@model SimpleForum.Models.Reply.EditReplyModel
@{
    var host = Context.Request.Host.ToString();
    ViewData["Title"] = "Chỉnh sửa bình luận ";
}

<div class="container body-content">

    <div class="row">
        <div class="createPostSection">
            @if (Model.IsActive)
            {
                <div class="authorBlock">
                    Bạn đang chỉnh sửa phần trả lời của bạn.
                </div>
                <form asp-action="EditReplyContent" method="post" id="addPostForm">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Content">Nội dung</label>
                        <textarea asp-for="Content" rows="15" class="form-control">@Model.Content</textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <button type="submit" id="registerBtn" class="btn btn-submitPost">Lưu trả lời</button>
                    <input type="hidden" asp-for="ID" />
                </form>
            }
            else
            {
                <h2>Ở trong tù không được chỉnh sửa trả lời!!</h2>
            }

        </div>
    </div>
</div>
@section Scripts {
    <script src="//@host/lib/tinymce/tinymce.min.js"></script> @*with enabled CDN tinymce is not able to find some files*@
    <script>
        tinymce.init({
            selector: 'textarea',
            theme: 'modern',
            plugins: ['advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools'
            ],
            toolbar1: 'insertfile undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image |print preview media | forecolor backcolor emoticons|fontselect fontsizeselect styleselect'
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}