/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    padding: 50px 0 20px 0;
    background-color: #eee;
    background-image: url("/images/theme/bg-2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    box-shadow: 0 5px 4px -6px #000;
}


.navLogo {
    background-image: url(/images/theme/app-logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-position: center;
}

.navbar li {
    font-weight: bold;
}

.sectionHeader {
    background-color: rgba(0,0,0,0.9);
    padding: 8px 0 24px 24px;
}

.sectionHeading {
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #335;
    margin-bottom: 12px;
}

.postHeading {
    color: white;
    font-size: 1.1em;
    font-family: 'Roboto';
    padding: 16px 0 16px 0;
}

.sectionInfo {
    height: 400px;
    background-color: white;
}

.frontPageSplash {
    background-image: url("/images/theme/front-splash.jpg");
    background-repeat: no-repeat;
    background-position: right;
    height: auto;
}

.frontPageLearn {
    font-family: 'Roboto';
    padding: 12px 0 0 32px;
    height: 360px;
}

.sectionDescription {
    color: #EEE;
}

.frontPageHeading {
    font-size: 3em;
    margin: 16px 0;
    color: white;
}

.frontPageSubHeading {
    font-size: 1.5em;
    color: white;
}

.frontPageTopContainer {
    padding: 40px 80px 42px 40px;
    border: 1px solid #999;
    background-color: #256905;
    font-family: 'Roboto';
}

.homeSearch {
    width: 100%;
    margin-top: 0px;
    background: rgba(0,0,0,0.1);
    padding: 8px;
    border: 0px;
    height: 2.3em;
    font-size: 2.1em;
    font-family: 'Roboto Momo';
    font-weight: bold;
    transition: ease-in 0.2s;
}

    .homeSearch:focus {
        border: none !important;
        outline: none !important;
        transition: ease-in 0.2s;
        color: #03A9F4;
        background-color: rgba(0,0,0,0.7);
        box-shadow: 0 5px 4px -6px #000;
    }

.frontPageContent {
    background-color: rgba(255,255,255,0.9);
    padding: 16px;
}

#latestPostTable {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 4px 0 16px 0;
}

.searchBar {
    /*padding: 3px 5px 3px 12px;*/
    margin: 3px;
    color:whitesmoke;
    background-color: dimgrey;
    /*width: 40%;*/
    transition: ease .3s;
    border: none;
}

    .searchBar:focus {
        color: black;
        width: 90%;
        background-color: #fff;
    }

.postTitle {
    font-family: 'Roboto';
    font-weight: bold;
}

.postSubTitle {
    color: #888;
    font-family: 'Roboto Momo';
    font-size: 0.8em;
}

.postData {
    display: inline-block;
}

.postDate {
    color: #888;
    font-family: 'Roboto Momo';
    font-size: 0.8em;
}

.postLogo {
    display: inline-block;
    border-radius: 3px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
}

.postAuthorImage {
    height: 80px;
    width: 80px;
    background-size: 100%;
}

.postAuthorContainer {
    padding: 12px;
    color: #444;
    font-family: 'Roboto';
    width: 190px;
}

.postIndexTitle {
    font-size: 1.4em;
}

.postContentContainer {
    font-family: 'Roboto';
    color: #222;
    padding: 18px;
    border-left: 1px solid #ddd;
}

.replyContentContainer {
    font-family: 'Roboto';
    color: #222;
    padding: 18px;
    border-left: 1px solid #ddd;
}

.postAuthorRating {
    font-size: 0.9em;
    color: #159;
    font-family: 'Roboto Momo';
}

.postHeader {
    background-color: #212121;
    padding: 8px 0 24px 24px;
}

.btn-back {
    background-color: #555;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
    float: right !important;
}

    .btn-back:hover {
        transition: ease-in 0.1s;
        background-color: #1E88E5 !important;
    }

.btn-newReply {
    background-color: #5C6BC0 !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-newReply:hover {
        background-color: #9FA8DA !important;
        transition: ease-in 0.1s;
    }

.btn-file {
    color: white;
    width: 100%;
    background-color: #4FC3F7;
    transition: ease 0.3s;
}

    .btn-file:hover {
        background-color: #039BE5;
        transition: ease 0.3s;
    }

.btn-submitPost {
    background-color: #00695C !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0px !important;
}

    .btn-submitPost:hover {
        transition: ease-in 0.1s;
        background-color: #00897B !important;
        color: #fff !important;
    }

.btn-forumSearch {
    background-color: white;
    border: none;
    padding: 0 !important;
    font: inherit;
}

#headingBtn {
    /*float: right !important;*/
    color: orangered;
}

#postIndexContent {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}

#forumIndexTable td {
    background-color: rgba(255,255,255,0.9);
}

#forumIndexTable tr:hover {
    background-color: rgba(0,116,238,1);
}

#addPostForum {
    background-color: whitesmoke;
    padding: 20px;
}

.forumData {
    display: inline-block;
}

.forumTitle {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.1em;
}

.forumSubTitle {
    color: #888;
    font-family: 'Roboto Momo';
    font-size: 0.8em;
}

.forumDescription {
    color: #555;
    font-family: 'Roboto';
}

.forumLogo {
    border-radius: 3px;
    float: left;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
    border: 1px solid #555;
    background-size: 100%;
}

.forumPostCount {
    color: #888;
    font-family: 'Roboto Momo';
    font-size: 0.9em;
}

.forumMemberCount {
    color: #888;
    font-family: 'Roboto Momo';
    font-size: 0.9em;
}

#forumIndexContent {
    padding-bottom: 60px;
    background-color: white;
    padding: 20px;
}

.noPost {
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto Momo';
    background-color: whitesmoke;
}

.createPostSection {
    background-color: #fff;
    padding: 24px;
    width: 100%;
    height: auto;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

#userProfileImage {
    height: 80px;
    width: 80px;
    background-size: 100%;
    display: flex;
    justify-content: center;
}

.userProfile {
    background-color: whitesmoke;
}

.replyContent {
    background-color: whitesmoke;
    padding: 20px;
    border-left: 1px solid #ddd;
    border-bottom: 5px solid #ddd;
    border-top: 5px solid #ddd;
}

.replyOriginalPost {
    background-color: whitesmoke;
    width: 100%;
    padding: 20px;
    border-bottom: 5px solid #ddd;
    border-top: 5px solid #ddd;
}

#upload-form {
    padding: 60px;
    height: auto;
    background-color: whitesmoke;
}

.upload-container {
    padding: 2%;
    width: 100%;
}

#btn-upload {
    display: flex;
    justify-content: center;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.socialsharing {
    text-align: center;
}

    .socialsharing a {
        display: inline-block;
        padding: 0.7em;
        line-height: 0;
        margin-bottom: 2em;
    }

    .socialsharing path {
        fill: gray;
    }

    .socialsharing svg {
        width: 24px;
        height: 24px;
    }

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

    #myBtn:hover {
        background-color: #555;
    }

#notifyNewCmt {
    display: none;
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

    #notifyNewCmt:hover {
        background-color: #555;
    }

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination > li {
        display: inline;
    }

        .pagination > li > a,
        .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.428571429;
            text-decoration: none;
            background-color: #ffffff;
            border: 1px solid #dddddd;
        }

        .pagination > li:first-child > a,
        .pagination > li:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination > li:last-child > a,
        .pagination > li:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus {
            background-color: #eeeeee;
        }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 2;
        color: #ffffff;
        cursor: default;
        background-color: #428bca;
        border-color: #428bca;
    }

    .pagination > .disabled > span,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
        color: #999999;
        cursor: not-allowed;
        background-color: #ffffff;
        border-color: #dddddd;
    }

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

    .pager:before,
    .pager:after {
        display: table;
        content: " ";
    }

    .pager:after {
        clear: both;
    }

    .pager:before,
    .pager:after {
        display: table;
        content: " ";
    }

    .pager:after {
        clear: both;
    }

    .pager li {
        display: inline;
    }

        .pager li > a,
        .pager li > span {
            display: inline-block;
            padding: 5px 14px;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 15px;
        }

            .pager li > a:hover,
            .pager li > a:focus {
                text-decoration: none;
                background-color: #eeeeee;
            }

    .pager .next > a,
    .pager .next > span {
        float: right;
    }

    .pager .previous > a,
    .pager .previous > span {
        float: left;
    }

    .pager .disabled > a,
    .pager .disabled > a:hover,
    .pager .disabled > a:focus,
    .pager .disabled > span {
        color: #999999;
        cursor: not-allowed;
        background-color: #ffffff;
    }
